@import 'highlight.js/styles/github.css' (prefers-color-scheme: light);
@import 'highlight.js/styles/github-dark.css' (prefers-color-scheme: dark);

@media (prefers-color-scheme: light) {
  :root {
    --theme-color: #eaecf0;
    --theme-border-color: #aeafb2;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme-color: #202124;
    --theme-border-color: #3c4043;
  }
}

.chat-gpt-container {
  margin-bottom: 30px;
  border-radius: 8px;
  border: 1px solid;
  flex-basis: 0;
  flex-grow: 1;
  overflow: hidden;
  border-color: var(--theme-border-color);
}

.chat-gpt-container :is(.answer, .question, .error) {
  background-color: var(--theme-color);
  font-size: 15px;
  line-height: 1.6;
  border-radius: 8px;
}

.chat-gpt-container :is(.answer, .question, .error) pre {
  margin-top: 10px;
}

.chat-gpt-container :is(.answer, .question, .error) code {
  padding: 0;
  white-space: pre-wrap;
  word-break: break-word;
}

.chat-gpt-container .error {
  color: #ec4336;
}

.chat-gpt-container p {
  margin: 0;
}

.chat-gpt-container .gpt-inner {
  background-color: var(--theme-color);
  padding: 15px;
  line-height: 1.5;
}

.chat-gpt-container .icon-and-text {
  color: #8f9094;
  display: flex;
  align-items: center;
  gap: 6px;
}

.chat-gpt-container .manual-btn {
  cursor: pointer;
}

.chat-gpt-container .gpt-loading {
  color: #b6b8ba;
  animation: gpt-pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes gpt-pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.chat-gpt-container.sidebar-free {
  margin-left: 60px;
  height: fit-content;
}

.interact-container {
  position: relative;
  font-size: 15px;
}

.interact-input {
  box-sizing: border-box;
  padding: 0 15px;
  height: 35px;
  border: 0;
  width: 100%;
}
